WebServiceDemo1/WebService.Client/Connected Services/TestWebService/TestWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWebService">
        <s:complexType />
      </s:element>
      <s:element name="HelloWebServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWebServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestWebServiceSoapHeader" type="tns:TestWebServiceSoapHeader" />
      <s:complexType name="TestWebServiceSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWebServiceSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWebService" />
  </wsdl:message>
  <wsdl:message name="HelloWebServiceSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWebServiceResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWebServiceTestWebServiceSoapHeader">
    <wsdl:part name="TestWebServiceSoapHeader" element="tns:TestWebServiceSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="TestWebServiceSoap">
    <wsdl:operation name="HelloWebService">
      <wsdl:input message="tns:HelloWebServiceSoapIn" />
      <wsdl:output message="tns:HelloWebServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWebServiceSoap" type="tns:TestWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWebService">
      <soap:operation soapAction="http://tempuri.org/HelloWebService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:HelloWebServiceTestWebServiceSoapHeader" part="TestWebServiceSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:HelloWebServiceTestWebServiceSoapHeader" part="TestWebServiceSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestWebServiceSoap12" type="tns:TestWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWebService">
      <soap12:operation soapAction="http://tempuri.org/HelloWebService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:HelloWebServiceTestWebServiceSoapHeader" part="TestWebServiceSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:HelloWebServiceTestWebServiceSoapHeader" part="TestWebServiceSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWebService">
    <wsdl:port name="TestWebServiceSoap" binding="tns:TestWebServiceSoap">
      <soap:address location="https://localhost:44327/TestWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TestWebServiceSoap12" binding="tns:TestWebServiceSoap12">
      <soap12:address location="https://localhost:44327/TestWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>